<h1>Hello World</h1>
This is my first Rails Webpage
<% @fri.each do |friend| %>
      <%= friend.first_name %>
        <%= friend.last_name %>
        <%= friend.email %>
      <%= friend.phone %>
        <%= friend.twitter %>
        <% end %>